<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpA08146139D2922249DBB4CA7BCC35BF4" Guid="{043190F4-9C24-47CF-9CB6-FCDAE1A444CF}">
                <File Id="filE222ACB5712728826BF961D1A849AA2C" KeyPath="yes" Source="$(var.BasePath)\alsa-sharp.dll" />
            </Component>
            <Component Id="cmpE5D66C6FA8B9347A44E527CB3717087A" Guid="{59A3E270-8433-4269-9A26-86D4620EBA8B}">
                <File Id="fil53D71AC86931431A73523BECE4E72194" KeyPath="yes" Source="$(var.BasePath)\Commons.Music.Midi.dll" />
            </Component>
            <Component Id="cmp2B62C064A3ED6A94B47BE64C5EB82D9E" Guid="{FD3DA9CA-7C2C-4BD5-9D68-5DE9E01321E1}">
                <File Id="fil627F933A2694B1BED9FD06B5FDD52C93" KeyPath="yes" Source="$(var.BasePath)\Google.Protobuf.dll" />
            </Component>
            <Component Id="cmp20E5A82EE1F53BB560782568696E50EF" Guid="{3991E543-6785-4125-ADFF-7403C0641A70}">
                <File Id="fil2E537F5E44EFF72FBE1AF325D6F073A2" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Bcl.AsyncInterfaces.dll" />
            </Component>
            <Component Id="cmp8C674FD6A69988A60A77A4CEE0F53781" Guid="{B0C755AE-5693-4595-989E-025B8FFC01F6}">
                <File Id="fil72342637E9F74EE945317D4603CEBA2F" KeyPath="yes" Source="$(var.BasePath)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp979BB5B2297816EF2D91624FE967267D" Guid="{ADCC2741-CEC6-46A2-B105-8B8A5D208A29}">
                <File Id="fil90ABFE40E18B3705156C760B3E7FFC87" KeyPath="yes" Source="$(var.BasePath)\NAudio.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="{185EAC6B-A450-4C50-8F2C-44C31E410866}">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.BasePath)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmpA2A1BDD7D0ED8DDB5B791349EAD85B7D" Guid="{D0D5A4F9-4A8A-44C4-8F7F-540FC78BE95A}">
                <File Id="filE87EA17BFD1B61B7B160F8651C6EA028" KeyPath="yes" Source="$(var.BasePath)\System.Linq.Async.dll" />
            </Component>
            <Component Id="cmpAFCF21A15F6EDA45A32D147050609285" Guid="{78C2CDCC-4A5D-4992-B854-18801B03C384}">
                <File Id="filAE286E96EA00902BC284AEBF3030D6E4" KeyPath="yes" Source="$(var.BasePath)\System.Runtime.CompilerServices.Unsafe.dll" />
            </Component>
            <Component Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" Guid="{739A0D4C-E6E4-4CFA-8A14-FBEA5FF26FCC}">
                <File Id="filF7CF33617C2B93F6EEF50C0DEB533B07" KeyPath="yes" Source="$(var.BasePath)\System.Threading.Tasks.Extensions.dll" />
            </Component>
            <Component Id="cmp95FF04D6E75040DECAFDBE3D800F2473" Guid="{05874F7D-AE8C-4CEF-8EED-45F706E41762}">
                <File Id="filA566252FDC0A51A08FEF8009582A8636" KeyPath="yes" Source="$(var.BasePath)\VDrumExplorer.Data.dll" />
            </Component>
            <Component Id="cmpF31B38BE7D028D65BC2DDC5824D79AA9" Guid="{BF0BF8A1-DD43-4AC3-A5C6-72B27CAA0C35}">
                <File Id="fil234D9507136A7DF0DBB0B8F013013E96" KeyPath="yes" Source="$(var.BasePath)\VDrumExplorer.Data.pdb" />
            </Component>
            <Component Id="cmpEB4D625AA854E52F0FA00F9E32944CE7" Guid="{CC0F76F2-CD69-423F-BFA3-9AD4D48F8E44}">
                <File Id="fil065452E6CE830D9997509BB23151F0B9" KeyPath="yes" Source="$(var.BasePath)\VDrumExplorer.Midi.dll" />
            </Component>
            <Component Id="cmp207603EA02A41C2C218B0A4E708EEC0D" Guid="{45C1E627-CDFA-4612-8646-EED3BCA6C103}">
                <File Id="fil636C74BDDE1675C6529BD52C8AF8D915" KeyPath="yes" Source="$(var.BasePath)\VDrumExplorer.Midi.pdb" />
            </Component>
            <Component Id="cmp2070FABEA63767AF5CFA69DB4CBE3270" Guid="{693BCD28-496B-4F0E-A555-C9EB8746B742}">
                <File Id="fil19E91419AEC996E504BB015BDB46A45D" KeyPath="yes" Source="$(var.BasePath)\VDrumExplorer.Wpf.exe" />
            </Component>
            <Component Id="cmp251AFF72F263ABDD81F6FC28B1F55DDF" Guid="{B54676C8-F747-479E-8074-07BE9CD01D9F}">
                <File Id="filC1CDAA6DD9A00B008EF44952A3E8A9F2" KeyPath="yes" Source="$(var.BasePath)\VDrumExplorer.Wpf.exe.config" />
            </Component>
            <Component Id="cmp61AF1959BFCA688BB762FD535DBDCAF3" Guid="{81FE184A-9559-4BEE-8B68-10D42CC9ED89}">
                <File Id="fil57B04229EBC90396BB48162AE57C4D59" KeyPath="yes" Source="$(var.BasePath)\VDrumExplorer.Wpf.pdb" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PublishedComponents">
            <ComponentRef Id="cmpA08146139D2922249DBB4CA7BCC35BF4" />
            <ComponentRef Id="cmpE5D66C6FA8B9347A44E527CB3717087A" />
            <ComponentRef Id="cmp2B62C064A3ED6A94B47BE64C5EB82D9E" />
            <ComponentRef Id="cmp20E5A82EE1F53BB560782568696E50EF" />
            <ComponentRef Id="cmp8C674FD6A69988A60A77A4CEE0F53781" />
            <ComponentRef Id="cmp979BB5B2297816EF2D91624FE967267D" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmpA2A1BDD7D0ED8DDB5B791349EAD85B7D" />
            <ComponentRef Id="cmpAFCF21A15F6EDA45A32D147050609285" />
            <ComponentRef Id="cmpB3AE432D48BF3A5AB43C6DAF12AB454A" />
            <ComponentRef Id="cmp95FF04D6E75040DECAFDBE3D800F2473" />
            <ComponentRef Id="cmpF31B38BE7D028D65BC2DDC5824D79AA9" />
            <ComponentRef Id="cmpEB4D625AA854E52F0FA00F9E32944CE7" />
            <ComponentRef Id="cmp207603EA02A41C2C218B0A4E708EEC0D" />
            <ComponentRef Id="cmp2070FABEA63767AF5CFA69DB4CBE3270" />
            <ComponentRef Id="cmp251AFF72F263ABDD81F6FC28B1F55DDF" />
            <ComponentRef Id="cmp61AF1959BFCA688BB762FD535DBDCAF3" />
        </ComponentGroup>
    </Fragment>
</Wix>