<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Api.Gax" version="2.0.0" targetFramework="net461" />
  <package id="Google.Api.Gax.Rest" version="2.0.0" targetFramework="net461" />
  <package id="Google.Apis" version="1.27.1" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.27.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.27.1" targetFramework="net461" />
  <package id="Google.Apis.Storage.v1" version="1.27.1.881" targetFramework="net461" />
  <package id="Google.Cloud.Storage.V1" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
</packages>